{% extends 'layout/main.html' %} {% block header %} {% endblock %} {% block content %}
<div class="container">
    <div class="text-center">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
            Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg">
                <span data-feather="home"></span>
                Take Me Home 
            </a>
            <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg">
                <span data-feather="send"></span>
                Contact Support 
            </a>
        </div>
    </div>
</div>
{% endblock %}